<div class = "artworkDiv">
    <p class="artworkTitle"><%= artwork.title%> by <%=artwork.name%></p>
    <% if (artwork.image) %>
    <img class="artworkImage" src="<%=artwork.image%>">
    <p class="museum"><%= artwork.museum%></p>
    <p class="artworkDescription"><%= artwork.description%></p>
    
</div>