<div class = "artworkDiv">
    <% if (artwork.artworkImage) %>
    <p class="artworkTitle"><%= artwork.artworkTitle%> by <%=artwork.artistName%></p>
    <img class="artworkImage" src="<%=artwork.artworkImage%>">
    <p class="museum"><%= artwork.museum%></p>
    <p class="artworkDescription"><%= artwork.artworkDescription%></p>
</div>