<div class = "artworkDiv">
    <img class="artworkImage" src="<%=artwork.image%>">
    <p class="artworkTitle"><%= artwork.title%> by <%=artwork.artist%></p>
    <p class="museum"><%= artwork.museum%></p>
    <p class="artworkDescription"><%= artwork.description%></p>
</div>