<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
            <%- include('../layout/header') %>
        </header>
        <main>
            <%- include('partials/searchBar') %>
            <% artists.forEach(nameOfArtist => { %>
            <a href="showArtworks/<%=nameOfArtist.artist%>"><p><%= nameOfArtist.artist %></p></a>
           <% }) %>
        </main>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
    </body>
</html>

<!-- HOMEPAGE -->