<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <%- include('partials/searchBar') %>
        <h2>Favorites</h2>
        <ul>
            <% artists.forEach(nameOfArtist => { %>
            <li>
                <form id="delete-artist" action='/delete/<%=nameOfArtist.artist%>' method='post'>
                <a href="showArtworks/<%=nameOfArtist.artist%>">
                    <p class= 'nameOfArtist'><%= nameOfArtist.artist %></p>
                    
                </a>
               
                <button class='deleteButton' type='submit'>Delete</button>
            </form>
            </li>
            
            <% }) %>
        </ul>
        <%- include('partials/cities') %>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
    </body>
</html>

<!-- HOMEPAGE -->