<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <%- include('partials/searchBar') %>
        <%- include('partials/favoriteArtists') %>
        <%- include('partials/cities') %>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
    </body>
</html>

<!-- HOMEPAGE -->