<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>   
</head>
<body>
    <ul>
        <% artworks.forEach(artwork => { %>
        <li class="artistResult">
            <%- include('partials/artwork', {artwork: artwork}) %>
        </li>
        <%}) %>
    </ul>
    <!-- <%- include('../layout/header') %>
    <% artworks.forEach(artwork => { %>
        <%- include('../pages/partials/artwork', {artwork: artwork}) %> 
   <% }) %> -->
</body>
<footer>
    <%- include('../layout/footer') %>
</footer>
</html>