<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
        <%- include('partials/searchBar') %>
    </header>
    <main>
        <ul>
            <% artworks.forEach(artwork => { %>
            <li class="artistResult">
                <%- include('partials/artwork', {artwork: artwork}) %>
            </li>
            <%}) %>
        </ul>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>

</html>